/* Custom Css by Lai */
body, html{
    
    overflow-y: visible !important;
}
#help-container {
    height: calc(100% - 90px);
}
.help-tip {
    border: none !important;
    height: 100%;
    overflow: hidden;
    width: 30vw;
    border-radius: unset;
}
.help-tip > div {
    height: 500px !important;
    bottom: 0;
    font-size: 12px;
    padding-top: 20px;
    overflow-y: scroll;
    width: 100%;
}
@media screen and (max-width: 1919px) {}
@media screen and (max-width: 1279px) {}
@media screen and (max-width: 1023px) {
    .help-tip {
        width: 50%;
    }
}
@media screen and (max-width: 767px) {}
@media screen and (max-width: 595px) {}
